$primary_blue : #bbb7f9;
$secondary_blue : hsl(243, 90%, 12%);
$green_accent : hsl(163, 95%, 43%);
$neutral_color: #7f7f7f;
/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

 <!-- All your files in one secure location, accessible anywhere.

    

    Sign up for early access

    Sign Up

    Privacy Policy -->

*/